@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.Reviews {
  z-index: 200;
  padding: 3rem 3rem;
  background-color: $color-background-light;
  //   height: 80vh;

  @include respond(tab-port) {
    margin-top: -4rem;
  }

  @include respond(phone) {
    padding: 3rem 1rem;
  }

  .HeaderContainer {
    padding: 0 1.5rem;
    margin-bottom: 8rem;
    margin-top: 2rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }

    @include respond(phone) {
      margin-bottom: 3rem;
    }

    .StarContainer {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      color: $color-black;
      text-align: center;
      font-weight: 700;
      font-size: 3.5rem;
      margin: 0;
      padding: 0;

      @include respond(tab-port) {
        font-size: 2.6rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .ContentContainer {
    margin: 2rem 0rem;
    height: 100%;
    position: relative;

    @include respond(tab-port) {
      margin: 2rem 0rem;
    }

    @include respond(phone) {
      margin: 2rem 0rem;
    }

    .Particles {
      position: absolute;
      top: 0;
      right: 0;
      height: 70%;
      width: 100%;
      //   background-color: red;
    }

    .GridContainer {
      margin-bottom: 2rem;

      .SelectedReview {
        .Card {
          max-width: 100%;
          min-height: 30rem;
          padding-bottom: 2rem;

          .CardInner {
            margin: 2rem;

            @include respond(phone) {
              margin: 1rem;
            }

            .Avatar {
              height: 4.6rem;
              width: 4.6rem;
            }

            .CardReview {
              margin-top: 1.7rem;

              span {
                font-weight: 800;
                font-size: 1.4rem;
                color: #000000;
                margin: 0;
                padding: 0;
                line-height: 1rem;
              }

              .CardDetails {
                margin-top: 1.7rem;

                span {
                  font-weight: 500;
                  margin: 0;
                  padding: 0;
                }
              }

              .CardDesignation {
                margin-top: -1.1rem;

                span {
                  font-weight: 500;
                  color: #999999;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
