$color-primary: #3746d5;
$color-primary-light: #505dda;
$color-primary-dark: #2532b1;
$color-background-light: #b4baef48;
$color-black: #000000;
$color-accent: #d53746;
$color-secondary-dark: #6974e0;
$color-secondary-light: #9ba2ea;
$color-grey-dark: #bfbfbf;
$color-white: #fff;
