@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.Header {
  overflow: hidden;

  .HeaderTop {
    background-color: $color-primary;
    // background-color: red;
    padding: 1.5rem 0rem;
    height: 5.5rem;
    // justify-content: center;

    .MenuContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .LogoContainer {
        margin-right: 4rem;

        // padding: 1rem;

        @include respond(tab-port) {
          margin-top: 0.3rem;
        }
      }

      .Logo {
        height: 80%;

        @include respond(tab-port) {
          height: 70%;
        }

        @include respond(phone) {
          height: 70%;
        }

        // padding: 2rem;
      }

      .MenuLeft {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include respond(tab-port) {
          display: none;
        }

        .MenuItem {
          color: #fff;
          font-weight: 600;
          margin: 0 2.5rem;
          text-decoration: none;
          font-size: 1.4rem;
          border-width: 0;
          border-bottom-style: solid;
          border-color: transparent;
          border-bottom-width: 0.2rem;
          padding-bottom: 0.3rem;
          transition: all 0.2s ease-in;

          &:hover {
            border-bottom-color: $color-accent;
            transform: translateY(-0.3rem);
            // text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
          }

          &:visited {
            color: #fff;
          }
        }
      }

      .MenuRight {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @include respond(tab-port) {
          display: none;
        }

        .Button {
          background-color: #fff;
          border-radius: 20rem;
          color: $color-primary;
          transition: all 0.2s ease-in;
          padding: 0.6rem 1.5rem;
          box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

          &:hover {
            transform: translateY(-0.3rem);
          }

          a {
            font-weight: 600;
            margin: 0 1rem;
            text-decoration: none;
            font-size: 1.2rem;
          }
        }
      }

      .MenuIconContainer {
        display: none;

        @include respond(tab-port) {
          display: flex;

          .MenuIcon {
            color: #fff;
          }
        }
      }
    }
  }

  .HeaderContent {
    height: 70vh;
    padding-top: 3rem;
    background-color: $color-primary;

    //    background-image: linear-gradient(
    //   to right,
    //   $color-primary-light,
    //   $color-primary-dark
    // );
    position: relative;

    // @include respond(tab-land) {
    //   min-height: 70vh;
    // }

    @include respond(tab-port) {
      padding-top: 0rem;
      height: 50vh;
    }

    @include respond(phone) {
      height: 40vh;
      // height: 30vh;
    }

    .LeftContainer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      height: 100%;
      transform: translateY(20%);
    }

    .Details {
      margin-bottom: 3rem;
      span {
        padding: 0;
        margin: 0;
        font-size: 5rem;
        color: #fff;
        font-weight: 600;
        line-height: 6rem;

        // @include respond(tab-land) {
        //   font-size: 2.7rem;
        //   line-height: 2.7rem;
        //   text-align: left;
        // }

        @include respond(tab-port) {
          font-size: 3rem;
          line-height: 3rem;
          text-align: left;
        }

        @include respond(phone) {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }

    .Button {
      background-color: #fff;
      border-radius: 20rem;
      color: $color-primary;
      transition: all 0.2s ease-in;
      padding: 1.2rem 2rem;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

      @include respond(tab-port) {
        padding: 1rem 1.5rem;
      }

      @include respond(phone) {
        padding: 1rem 0.5rem;
      }

      &:hover {
        transform: translateY(-0.3rem);
      }

      a {
        font-weight: 600;
        margin: 0 1rem;
        text-decoration: none;
        font-size: 1.3rem;

        @include respond(tab-port) {
          font-size: 1.1rem;
        }

        @include respond(phone) {
          font-size: 1rem;
        }
      }
    }

    .ImageContainer {
      // display: none;
      height: 100%;
      position: absolute;
      right: -5rem;
      top: -2rem;

      .Image {
        width: 90rem;
        // height: 10rem;
      }
    }
  }

  .WavesContainer {
    position: relative;
    margin-bottom: 0;
    svg > path {
      fill: $color-primary;
    }
  }
}
