@import "../../styles/colors.scss";

.Header {
  height: 95vh;
  // background-color: $color-grey-dark;
  overflow: hidden;
  // position: relative;

  .HeaderTop {
    height: 70%;
    background-color: $color-primary;
  }

  .WavesContainer {
    // display: none;
    position: relative;
  }

  // .WavesContainerSecond {
  //   svg {
  //     display: block;
  //   }

  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 43.3rem;
  //   z-index: 100;
  //   left: 0;
  // }
}
