@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.Homepage {
  height: 100%;
  overflow: hidden;

  .ContactContainer {
    margin-top: -9rem;
  }
}

.FadeEnter {
  opacity: 0;
}
.FadeEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}
.FadeExit {
  opacity: 1;
}
.FadeExitActive {
  opacity: 0;
  transition: opacity 500ms;
}
